:root {
    --black: rgb(38, 38, 38);
    --white: rgb(255, 255, 255);
    --orange: rgb(255, 127, 17);
}

.body-darkMode {
    background: url(../img/tasteBudsBKGInverted.png);
}

.dark-background {
    background-color: var(--black);
}

.light-text {
    color: var(--white);
}

.dropdown-content-dark{
    background-color: var(--black);
}

.dropdown-content-dark a{
    color: var(--white);
    background-color: var(--black);
}

.dropdown-content-dark a:hover{
    background-color: var(--white);
    color: var(--orange);
}

.complete-switch {
    color: var(--white);
    background-color: var(--black);
}

.modal-dark {
    background-color: var(--black);
    display: grid;
    text-align: center;
    padding-bottom: 60px;
}

.input[type="text"] {
    color: gray;
    background-color: var(--black);
}


/* Blog */

.inspiration-wall-darkmode {
    background-color: var(--black);
}