* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: .5fr .8fr 1fr .25fr;
    row-gap: 10px;
}

.post-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}