* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-width: 100vw;
    height: 100vh;
    display: grid;
    /* width: 95%; */
    row-gap: 10px;
    text-align: center;
}

.post-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

header {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
}

.search {
    width: 70vw;
    justify-self: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
}

.suggested-pairings {
    width: 60%;
    justify-self: center;
    align-self: center;
    place-items: center;
}

.flavor-affinities {
    width: 95%;
    justify-self: center;
    align-self: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}