@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap');
/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'Pacifico', cursive; */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --black: rgb(38, 38, 38);
    --orange: rgb(255, 127, 17);
    --red: rgb(255, 27, 28);
    --beige: rgb(226, 232, 206);
    --teal: rgb(40, 144, 158);
    --laurel: rgb(197, 218, 188);
}
header{
    font-family: 'Pacifico', cursive;
    /* font-size: 4em; */
    font-size: 8vw;
    text-align: center;
    background-color: var(--black);
    color: rgb(68, 221, 241);
    text-shadow: 4px 4px 6px var(--teal, 1)
}
.container{
    background-color: var(--black);
    color: var(--red);
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
    text-align: center;
    
}
h3{
    color: var(--red);
    font-size: 1.8em;
    padding-bottom: 15px;
}
h4{
    color: var(--red);
    font-weight: 900;
    font-size: 1.5em;
}
.search{
    border: solid;
    border-width: 10px;
    border-color: var(--laurel);
    border-radius: 20px;
    background-color: var(--beige);
    width: 50%;
    justify-self: center;
    align-self: center;

}

.food-search{
    background-color: var(--beige);
    border: none;
    font-size: 2em;
    text-align: center;
    outline: none;
    width: 65%;
    font-family: 'Darker Grotesque', sans-serif;
}

.food-search-button{
    background-color: var(--beige);
    border: none;
    font-size: 1.25em;
    text-align: center;
    outline: none;
}

.filter-button{
    background-color: var(--beige);
    color: var(--black);
    font-family: 'Darker Grotesque', sans-serif;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 0 5px;
    margin: 5px;
    border-width: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    /* border-color: var(--red); */
    outline: none;
}

.filter-button:active{
    background-color: var(--black);
    color: var(--beige);
}

.suggested-pairings{
    border: solid;
    border-width: 10px;
    border-color: var(--beige);
    background-color: var(--laurel);
    border-radius: 20px;
    width: 50%;
    justify-self: center;
    align-self: center;
}

.flavor-affinities{
    border: solid;
    border-width: 10px;
    border-radius: 20px;
    border-color: var(--laurel);
    background-color: var(--beige);
    width: 50%;
    justify-self: center;
    align-self: center;
    /* box-shadow: 0px 8px 16px 0px var(--beige, .2); */
}

li{
    list-style: none;
    
}

a{
    text-decoration: none;
    color: var(--black);
}

footer{
    color: var(--orange);
}