@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap');

/* font-family: 'Darker Grotesque', sans-serif;
font-family: 'Pacifico', cursive; */

:root {
    --black: rgb(38, 38, 38);
    --orange: rgb(255, 127, 17);
    --red: rgb(255, 27, 28);
    --beige: rgb(226, 232, 206);
    --teal: rgb(59, 210, 230);
    --laurel: rgb(197, 218, 188);
    --white: rgb(255, 255, 255);
    --acid: rgb(189, 191, 9);
    --purple: rgb(209, 56, 191);
}

body {
    background: url("../img/tasteBudsBKG.png");
    /* background-size: contain; */
}

.container {
    color: var(--red);
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 25px;
}

h3 {
    color: var(--orange);
    font-size: 1.8em;
    padding-bottom: 15px;
}

h4 {
    color: var(--orange);
    font-weight: 900;
    font-size: 2em;
}

.search {
    border: solid;
    border-width: 15px;
    border-color: var(--acid);
    border-radius: 20px;
    background-color: var(--white);
}

.food-search {
    background-color: var(--white);
    border: none;
    font-size: 2em;
    text-align: center;
    outline: none;
    font-family: 'Darker Grotesque', sans-serif;
}

.legend {
    font-size: 1.25em;
    margin-bottom: 10px;
    border-bottom: solid;
    border-color: var(--teal);
    padding: 0 10px;
    border-radius: 5px;
}

.best {
    font-weight: 900;
}

.better {
    font-weight: 900;
}

.italics {
    font-style: italic;
}

.food-search-button {
    background-color: var(--white);
    border: none;
    font-size: 1.25em;
    text-align: center;
    outline: none;
}

.search-term {
    display: none;
}

.filter-button {
    background-color: rgb(122, 217, 230);
    color: var(--black);
    font-family: 'Darker Grotesque', sans-serif;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.342);
    font-size: 1.2em;
    font-weight: 500;
    padding: 0 10px;
    margin: 5px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    display: none;
}

.filter-button:hover {
    cursor: pointer;
}

.filter-button:active {
    background-color: var(--black);
    color: rgb(122, 217, 230);
}

.filter-button-active {
    background-color: var(--black);
    color: rgb(122, 217, 230);
}

.filter-button-clear {
    background-color: rgb(255, 99, 99);
    color: var(--black);
    font-family: 'Darker Grotesque', sans-serif;
    border-radius: 5px;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.342);
    font-size: 1.2em;
    font-weight: 500;
    padding: 0 10px;
    margin: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    display: none;
    cursor: pointer;
}

.suggested-pairings {
    border: solid;
    border-width: 15px;
    border-color: var(--teal);
    background-color: var(--white);
    border-radius: 20px;
    font-weight: 700;
    display: none;
}

.slidein {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

.slideup {
    animation-duration: 2s;
    animation-name: slideup;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes slideup {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}

.fadein {
    animation-duration: 3s;
    animation-name: fadein;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.flavor-affinities {
    border: solid;
    border-width: 15px;
    border-radius: 20px;
    border-color: var(--acid);
    background-color: var(--white);
    font-weight: 600;
    visibility: hidden;
}

li {
    list-style: none;
    display: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

footer {
    background-color: var(--black);
    color: var(--orange);
    font-weight: 600;
    height: 50px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #222222
}

header {
    font-family: 'Pacifico', cursive;
    background-image: linear-gradient(rgba(8, 8, 8, 0.705), rgba(255, 255, 255, 0.308));
}

header h1 {
    font-size: 8vw;
    text-align: center;
    color: var(--black);
    text-shadow: 4px 4px 6px var(--teal, 1);
}

.nav {
    font-family: 'Pacifico', cursive;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 10px;
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.342);
    font-size: .8em;
    font-weight: 500;
    padding: 10px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: pointer;
}


/* Hover Button */

.dropdown .dropbtn,
.modal-button {
    cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--orange);
}

.dropdown {
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif;
}

.dropdown-content a:hover {
    background-color: var(--white);
    color: var(--orange);
    font-weight: 700;
    border-radius: 10px;
}


/* Modals */


.food-pairings:hover .dropdown-content {
    display: block;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 600px;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-title {
    display: grid;
    color: var(--orange);
    border-bottom: solid;
    border-color: var(--teal);
    border-radius: 5px;
    text-align: center;
    justify-self: center;
    margin-bottom: 10px;
}

.inner-div {
    display: grid;
    text-align: center;
    padding-bottom: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-list {
    font-weight: 500; 
    font-style: normal;
}

.close {
    color: #aaaaaa;
    justify-self: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#submit-post {
    cursor: pointer;
}